---

---


    <!-- Header + Banner -->
    <section class="banner">
      <div class="container">
        <nav>
          <div class="row">
            <div class="logo">
              <span>
                <svg
                  width="245"
                  height="108"
                  viewBox="0 0 245 108"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M42.4571 58.264C42.4571 59.416 42.3851 60.616 42.2411 61.864H14.3771C14.5691 64.36 15.3611 66.28 16.7531 67.624C18.1931 68.92 19.9451 69.568 22.0091 69.568C25.0811 69.568 27.2171 68.272 28.4171 65.68H41.5211C40.8491 68.32 39.6251 70.696 37.8491 72.808C36.1211 74.92 33.9371 76.576 31.2971 77.776C28.6571 78.976 25.7051 79.576 22.4411 79.576C18.5051 79.576 15.0011 78.736 11.9291 77.056C8.85709 75.376 6.45709 72.976 4.72909 69.856C3.00109 66.736 2.13709 63.088 2.13709 58.912C2.13709 54.736 2.97709 51.088 4.65709 47.968C6.38509 44.848 8.78509 42.448 11.8571 40.768C14.9291 39.088 18.4571 38.248 22.4411 38.248C26.3291 38.248 29.7851 39.064 32.8091 40.696C35.8331 42.328 38.1851 44.656 39.8651 47.68C41.5931 50.704 42.4571 54.232 42.4571 58.264ZM29.8571 55.024C29.8571 52.912 29.1371 51.232 27.6971 49.984C26.2571 48.736 24.4571 48.112 22.2971 48.112C20.2331 48.112 18.4811 48.712 17.0411 49.912C15.6491 51.112 14.7851 52.816 14.4491 55.024H29.8571ZM72.7123 79L65.0083 67.84L58.5283 79H45.2083L58.4563 58.48L44.8483 38.824H58.6723L66.3763 49.912L72.8563 38.824H86.1763L72.7123 59.056L86.5363 79H72.7123ZM103.592 44.512C104.792 42.64 106.448 41.128 108.56 39.976C110.672 38.824 113.144 38.248 115.976 38.248C119.288 38.248 122.288 39.088 124.976 40.768C127.664 42.448 129.776 44.848 131.312 47.968C132.896 51.088 133.688 54.712 133.688 58.84C133.688 62.968 132.896 66.616 131.312 69.784C129.776 72.904 127.664 75.328 124.976 77.056C122.288 78.736 119.288 79.576 115.976 79.576C113.192 79.576 110.72 79 108.56 77.848C106.448 76.696 104.792 75.208 103.592 73.384V98.152H91.2804V38.824H103.592V44.512ZM121.16 58.84C121.16 55.768 120.296 53.368 118.568 51.64C116.888 49.864 114.8 48.976 112.304 48.976C109.856 48.976 107.768 49.864 106.04 51.64C104.36 53.416 103.52 55.84 103.52 58.912C103.52 61.984 104.36 64.408 106.04 66.184C107.768 67.96 109.856 68.848 112.304 68.848C114.752 68.848 116.84 67.96 118.568 66.184C120.296 64.36 121.16 61.912 121.16 58.84ZM146.34 34.648C144.18 34.648 142.404 34.024 141.012 32.776C139.668 31.48 138.996 29.896 138.996 28.024C138.996 26.104 139.668 24.52 141.012 23.272C142.404 21.976 144.18 21.328 146.34 21.328C148.452 21.328 150.18 21.976 151.524 23.272C152.916 24.52 153.612 26.104 153.612 28.024C153.612 29.896 152.916 31.48 151.524 32.776C150.18 34.024 148.452 34.648 146.34 34.648ZM152.46 38.824V79H140.148V38.824H152.46ZM158.934 58.912C158.934 54.736 159.774 51.088 161.454 47.968C163.182 44.848 165.558 42.448 168.582 40.768C171.654 39.088 175.158 38.248 179.094 38.248C184.134 38.248 188.334 39.568 191.694 42.208C195.102 44.848 197.334 48.568 198.39 53.368H185.286C184.182 50.296 182.046 48.76 178.878 48.76C176.622 48.76 174.822 49.648 173.478 51.424C172.134 53.152 171.462 55.648 171.462 58.912C171.462 62.176 172.134 64.696 173.478 66.472C174.822 68.2 176.622 69.064 178.878 69.064C182.046 69.064 184.182 67.528 185.286 64.456H198.39C197.334 69.16 195.102 72.856 191.694 75.544C188.286 78.232 184.086 79.576 179.094 79.576C175.158 79.576 171.654 78.736 168.582 77.056C165.558 75.376 163.182 72.976 161.454 69.856C159.774 66.736 158.934 63.088 158.934 58.912ZM242.848 58.264C242.848 59.416 242.776 60.616 242.632 61.864H214.768C214.96 64.36 215.752 66.28 217.144 67.624C218.584 68.92 220.336 69.568 222.4 69.568C225.472 69.568 227.608 68.272 228.808 65.68H241.912C241.24 68.32 240.016 70.696 238.24 72.808C236.512 74.92 234.328 76.576 231.688 77.776C229.048 78.976 226.096 79.576 222.832 79.576C218.896 79.576 215.392 78.736 212.32 77.056C209.248 75.376 206.848 72.976 205.12 69.856C203.392 66.736 202.528 63.088 202.528 58.912C202.528 54.736 203.368 51.088 205.048 47.968C206.776 44.848 209.176 42.448 212.248 40.768C215.32 39.088 218.848 38.248 222.832 38.248C226.72 38.248 230.176 39.064 233.2 40.696C236.224 42.328 238.576 44.656 240.256 47.68C241.984 50.704 242.848 54.232 242.848 58.264ZM230.248 55.024C230.248 52.912 229.528 51.232 228.088 49.984C226.648 48.736 224.848 48.112 222.688 48.112C220.624 48.112 218.872 48.712 217.432 49.912C216.04 51.112 215.176 52.816 214.84 55.024H230.248Z"
                    fill="#35CD8C"
                  />
                </svg>
              </span>
            </div>
            <div class="menu">
              <span class="menu-open">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M9 8V6H21V8H9Z" fill="#fff" />
                  <path d="M3 13H21V11H3V13Z" fill="#fff" />
                  <path d="M9 18H21V16H9V18Z" fill="#fff" />
                </svg>
              </span>
              <span class="menu-close">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M17 8.41L15.59 7L12 10.59L8.41 7L7 8.41L10.59 12L7 15.59L8.41 17L12 13.41L15.59 17L17 15.59L13.41 12L17 8.41Z"
                    fill="#2E3A59"
                  />
                </svg>
              </span>
            </div>
          </div>
        </nav>
        <div class="banner-content">
          <div class="row">
            <div class="banner-text">
              <h1>Food</h1>
                <p>
                Descubre Restaurantes <br />
                y Comida Deliciosa
                </p>
              <form action="">
                <input type="text" placeholder="Search restaurant, Food" />
                <button type="submit">
                  <span>   <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.6732 8.21101L16.5312 1.069C16.0954 0.63325 15.3887 0.63325 14.953 1.069C14.5171 1.50484 14.5171 2.21137 14.953 2.64721L20.1899 7.88417H1.11594C0.499673 7.88417 0 8.38384 0 9.00011C0 9.61629 0.499673 10.116 1.11594 10.116H20.1899L14.9531 15.353C14.5173 15.7889 14.5173 16.4954 14.9531 16.9312C15.171 17.149 15.4566 17.2581 15.7422 17.2581C16.0278 17.2581 16.3134 17.149 16.5313 16.9312L23.6732 9.78921C24.109 9.35337 24.109 8.64685 23.6732 8.21101Z" fill="white"/>
                    </svg> </span>
                </button>
              </form>
            </div>
            <div class="banner-imgs">
              <div class="leaf-img">
                <!-- <img src="/leaff.png" alt="" /> -->
              </div>
              <div class="banner-img">
                <img src="/bannerr.png" class="active" alt="" />
                <img src="/banner2.jpg" alt="" />
                <img src="/banner3.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="links">
            <span class="prev">
              <svg
                width="66"
                height="45"
                viewBox="0 0 66 45"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.5729 23.2732C16.5735 23.2737 16.5739 23.2744 16.5746 23.275L26.7801 33.4313C27.5446 34.1921 28.7813 34.1893 29.5423 33.4246C30.3032 32.6601 30.3003 31.4234 29.5358 30.6625L22.6838 23.8438H64.0469C65.1256 23.8438 66 22.9693 66 21.8906C66 20.8119 65.1256 19.9375 64.0469 19.9375H22.6839L29.5357 13.1188C30.3002 12.3578 30.3031 11.1212 29.5422 10.3567C28.7812 9.59191 27.5444 9.58928 26.78 10.35L16.5745 20.5063C16.5739 20.5069 16.5735 20.5075 16.5728 20.5081C15.8078 21.2716 15.8103 22.5122 16.5729 23.2732Z"
                  fill="white"
                />
                <circle
                  cx="22.5"
                  cy="22.5"
                  r="21"
                  stroke="white"
                  stroke-width="3"
                />
              </svg>
            </span>
            <br />
            <span class="next">
              <svg
                width="66"
                height="45"
                viewBox="0 0 66 45"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="43.5"
                  cy="22.5"
                  r="21"
                  stroke="white"
                  stroke-width="3"
                />
                <path
                  d="M49.4271 20.7268C49.4265 20.7263 49.4261 20.7256 49.4254 20.725L39.2199 10.5687C38.4554 9.8079 37.2187 9.81074 36.4577 10.5754C35.6968 11.3399 35.6997 12.5766 36.4642 13.3375L43.3162 20.1562H1.95312C0.874414 20.1562 0 21.0307 0 22.1094C0 23.1881 0.874414 24.0625 1.95312 24.0625H43.3161L36.4643 30.8812C35.6998 31.6422 35.6969 32.8788 36.4578 33.6433C37.2188 34.4081 38.4556 34.4107 39.22 33.65L49.4255 23.4937C49.4261 23.4931 49.4265 23.4925 49.4272 23.4919C50.1922 22.7284 50.1897 21.4878 49.4271 20.7268Z"
                  fill="white"
                />
              </svg>
            </span>
          </div>
        </div>
      </div>
    </section>

    <!-- Navbar -->
    <div class="navbar">
      <nav>
        <ul>
            <li><a href="#banner">Inicio</a></li>
            <li><a href="#about">Acerca de</a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#foods">Comidas</a></li>
            <li><a href="#app">Aplicación</a></li>
        </ul>
      </nav>
    </div>
    <!-- Navbar -->

    <!-- Header + Banner -->

    <!-- Our Dishes -->
    <section class="dishes" id="about">
      <div class="container">
        <div class="section-title">
          <div class="text">
            <div class="border"></div>
            <h1>About Us</h1>
          </div>
          <div class="detail">
            <p>
             Traemos chefs profesionales a tu hogar para preparar deliciosas comidas personalizadas a una fracción del costo.
            </p>
          </div>
        </div>

        <div class="main-dishes">
          <div class="dish">
            <img src="/dish1.png" alt="" />
            <div class="dish-content">
                <h3>Agua de Fuego</h3>
                <p>
                estamos completamente dedicados a disfrutar al máximo, ya sea comiendo fuera o en casa.
                </p>
              <div class="icon-btn">
                <p class="icon">
                  <span>
                    <svg
                      width="20"
                      height="25"
                      viewBox="0 0 20 25"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8.97229 24.4956C1.40469 14.2105 0 13.1549 0 9.375C0 4.19731 4.47714 0 10 0C15.5229 0 20 4.19731 20 9.375C20 13.1549 18.5953 14.2105 11.0277 24.4956C10.5311 25.1682 9.46885 25.1681 8.97229 24.4956ZM10 13.2812C12.3012 13.2812 14.1667 11.5324 14.1667 9.375C14.1667 7.21763 12.3012 5.46875 10 5.46875C7.6988 5.46875 5.83333 7.21763 5.83333 9.375C5.83333 11.5324 7.6988 13.2812 10 13.2812Z"
                        fill="#2e266f"
                      />
                    </svg>
                  </span>
                    Nuevo Mercado
                </p>
                <button class="btn book-btn">Reservar Ahora</button>
              </div>
             
            </div>
          </div>
          <div class="dish">
            <img src="/dish2.png" alt="" />
            <div class="dish-content">
                <h3>Agua de Fuego</h3>
                <p>
                estamos completamente dedicados a disfrutar al máximo, ya sea comiendo fuera o en casa.
                </p>
              <div class="icon-btn">
                <p class="icon">
                  <span>
                    <svg
                      width="20"
                      height="25"
                      viewBox="0 0 20 25"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8.97229 24.4956C1.40469 14.2105 0 13.1549 0 9.375C0 4.19731 4.47714 0 10 0C15.5229 0 20 4.19731 20 9.375C20 13.1549 18.5953 14.2105 11.0277 24.4956C10.5311 25.1682 9.46885 25.1681 8.97229 24.4956ZM10 13.2812C12.3012 13.2812 14.1667 11.5324 14.1667 9.375C14.1667 7.21763 12.3012 5.46875 10 5.46875C7.6988 5.46875 5.83333 7.21763 5.83333 9.375C5.83333 11.5324 7.6988 13.2812 10 13.2812Z"
                        fill="#2e266f"
                      />
                    </svg>
                  </span>
                    Nuevo Mercado
                </p>
                <button class="btn book-btn">Reservar Ahora </button>
              </div>
            </div>
          </div>
          <div class="dish">
            <img src="/dish1.png" alt="" />
            <div class="dish-content">
                <h3>Agua de Fuego</h3>
                <p>
                estamos completamente dedicados a disfrutar al máximo, ya sea comiendo fuera o en casa.
                </p>
                <div class="icon-btn">
                <p class="icon">
                  <span>
                  <svg
                    width="20"
                    height="25"
                    viewBox="0 0 20 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                    d="M8.97229 24.4956C1.40469 14.2105 0 13.1549 0 9.375C0 4.19731 4.47714 0 10 0C15.5229 0 20 4.19731 20 9.375C20 13.1549 18.5953 14.2105 11.0277 24.4956C10.5311 25.1682 9.46885 25.1681 8.97229 24.4956ZM10 13.2812C12.3012 13.2812 14.1667 11.5324 14.1667 9.375C14.1667 7.21763 12.3012 5.46875 10 5.46875C7.6988 5.46875 5.83333 7.21763 5.83333 9.375C5.83333 11.5324 7.6988 13.2812 10 13.2812Z"
                    fill="#2e266f"
                    />
                  </svg>
                  </span>
                  Nuevo Mercado
                </p>
                <button class="btn book-btn">Reservar Ahora</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Our Dishes -->

    <!-- Our Services -->
    <div class="services" id="services">
      <div class="container">
        <div class="section-title">
          <div class="text">
            <div class="border"></div>
            <h1>Nuestros Servicios</h1>
            </div>
            <div class="detail">
            <p>
              Traemos chefs profesionales a tu hogar para preparar deliciosas 
             comidas personalizadas a una fracción del costo.
             
            </p>
          </div>
        </div>
        <div class="main-services">
          <div class="flex-service">
           <div class="service item-1">
             <div class="svg-box">
              <span>
                <svg width="199" height="199" viewBox="0 0 199 199" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M24.3852 192.365C23.6623 191.642 22.6595 191.227 21.6373 191.227C20.6112 191.227 19.6123 191.642 18.8894 192.365C18.1626 193.088 17.7506 194.091 17.7506 195.113C17.7506 196.135 18.1626 197.138 18.8894 197.861C19.6123 198.584 20.6116 199 21.6373 199C22.6595 199 23.6623 198.584 24.3852 197.861C25.1078 197.138 25.524 196.135 25.524 195.113C25.524 194.091 25.1082 193.088 24.3852 192.365Z" fill="#35CD8C"/>
                  <path d="M145.001 164.898C144.279 164.175 143.276 163.759 142.254 163.759C141.232 163.759 140.229 164.175 139.506 164.898C138.783 165.621 138.367 166.624 138.367 167.646C138.367 168.672 138.783 169.671 139.506 170.394C140.229 171.116 141.232 171.533 142.254 171.533C143.276 171.533 144.279 171.117 145.001 170.394C145.724 169.671 146.141 168.672 146.141 167.646C146.141 166.624 145.725 165.621 145.001 164.898Z" fill="#35CD8C"/>
                  <path d="M186.464 62.8171C189.405 59.8632 191.227 55.7927 191.227 51.3047V48.1953C191.227 39.1941 183.904 31.8711 174.902 31.8711C165.901 31.8711 158.578 39.1941 158.578 48.1953V51.3047C158.578 55.7935 160.4 59.864 163.342 62.8183C156.962 66.3218 152.329 72.6261 151.118 80.0664H133.314C126.885 80.0664 121.654 85.2972 121.654 91.7266C121.654 93.0892 121.891 94.3967 122.323 95.6133H76.6772C77.1086 94.3967 77.3457 93.0892 77.3457 91.7266C77.3457 85.2972 72.115 80.0664 65.6855 80.0664H47.882C46.6706 72.6261 42.0376 66.3214 35.6583 62.8183C38.6002 59.864 40.4219 55.7935 40.4219 51.3047V48.1953C40.4219 39.1941 33.0989 31.8711 24.0977 31.8711C15.0964 31.8711 7.77344 39.1941 7.77344 48.1953V51.3047C7.77344 55.7927 9.59475 59.8632 12.5358 62.8171C5.07178 66.9165 0 74.8528 0 83.9531V122.82V127.549C0 139.729 9.90919 149.639 22.0894 149.639H52.8594V186.757C52.8594 188.334 53.1625 189.841 53.7078 191.227H38.3491C36.2028 191.227 34.4624 192.967 34.4624 195.113C34.4624 197.26 36.2028 199 38.3491 199H177.364C179.51 199 181.251 197.26 181.251 195.113C181.251 192.967 179.51 191.227 177.364 191.227H145.292C145.837 189.841 146.141 188.334 146.141 186.757V182.287C146.141 180.141 144.4 178.4 142.254 178.4C140.108 178.4 138.367 180.141 138.367 182.287V186.757C138.367 189.221 136.362 191.227 133.897 191.227C131.433 191.227 129.428 189.221 129.428 186.757V137.687C129.428 131.633 134.353 126.707 140.408 126.707H154.691H157.801H191.227V127.549C191.227 135.443 184.805 141.865 176.911 141.865H142.254C140.108 141.865 138.367 143.606 138.367 145.752V151.971C138.367 154.117 140.108 155.857 142.254 155.857C144.4 155.857 146.141 154.117 146.141 151.971V149.639H176.911C189.091 149.639 199 139.729 199 127.549V122.82V83.9531C199 74.8528 193.928 66.9165 186.464 62.8171ZM166.352 48.1953C166.352 43.4803 170.187 39.6445 174.902 39.6445C179.617 39.6445 183.453 43.4803 183.453 48.1953V51.3047C183.453 56.0197 179.617 59.8555 174.902 59.8555C170.187 59.8555 166.352 56.0197 166.352 51.3047V48.1953ZM15.5469 48.1953C15.5469 43.4803 19.3827 39.6445 24.0977 39.6445C28.8126 39.6445 32.6484 43.4803 32.6484 48.1953V51.3047C32.6484 56.0197 28.8126 59.8555 24.0977 59.8555C19.3827 59.8555 15.5469 56.0197 15.5469 51.3047V48.1953ZM7.77344 83.9531C7.77344 74.9519 15.0964 67.6289 24.0977 67.6289C33.0989 67.6289 40.4219 74.9519 40.4219 83.9531C40.4219 86.0994 42.1623 87.8398 44.3086 87.8398H65.6855C67.8287 87.8398 69.5723 89.5834 69.5723 91.7266C69.5723 93.8697 67.8287 95.6133 65.6855 95.6133H43.0512C36.8714 95.6133 31.2197 92.2291 28.3011 86.7815C27.2879 84.8894 24.9317 84.177 23.0397 85.191C21.1476 86.2043 20.4356 88.5601 21.4492 90.4525C25.3402 97.7156 32.5493 102.474 40.6391 103.269C40.4984 103.67 40.4219 104.103 40.4219 104.553V118.934H7.77344V83.9531ZM55.7286 118.934H48.1953V104.553C48.1953 104.147 48.1331 103.755 48.0173 103.387H55.7286C54.4012 105.675 53.6367 108.329 53.6367 111.16C53.6367 113.991 54.4008 116.645 55.7286 118.934ZM69.5723 186.757C69.5723 189.221 67.5671 191.227 65.1025 191.227C62.638 191.227 60.6328 189.221 60.6328 186.757V145.752C60.6328 143.606 58.8923 141.865 56.7461 141.865H22.0894C14.1955 141.865 7.77344 135.443 7.77344 127.549V126.707H41.1992H44.3086H58.5923C64.6466 126.707 69.5723 131.633 69.5723 137.687V186.757ZM87.8398 191.227H76.4972C77.0429 189.841 77.3457 188.334 77.3457 186.757V137.687C77.3457 133.589 76.0207 129.796 73.7812 126.707H87.8398V191.227ZM103.387 191.227H95.6133V126.707H103.387V191.227ZM122.503 191.227H111.16V126.707H125.219C122.98 129.796 121.654 133.589 121.654 137.687V186.757C121.654 188.334 121.957 189.841 122.503 191.227ZM129.816 118.934H69.1836C64.8973 118.934 61.4102 115.446 61.4102 111.16C61.4102 106.874 64.8973 103.387 69.1836 103.387H129.816C134.103 103.387 137.59 106.874 137.59 111.16C137.59 115.446 134.103 118.934 129.816 118.934ZM150.805 104.553V118.934H143.271C144.599 116.645 145.363 113.991 145.363 111.16C145.363 108.329 144.599 105.675 143.271 103.387H150.983C150.867 103.755 150.805 104.147 150.805 104.553ZM191.227 118.934H158.578V104.553C158.578 104.103 158.502 103.67 158.361 103.269C166.451 102.474 173.66 97.7156 177.551 90.4525C178.564 88.5601 177.852 86.2043 175.96 85.191C174.067 84.1774 171.713 84.8902 170.699 86.7815C167.78 92.2291 162.129 95.6133 155.949 95.6133H133.314C131.171 95.6133 129.428 93.8697 129.428 91.7266C129.428 89.5834 131.171 87.8398 133.314 87.8398H154.691C156.838 87.8398 158.578 86.0994 158.578 83.9531C158.578 74.9519 165.901 67.6289 174.902 67.6289C183.904 67.6289 191.227 74.9519 191.227 83.9531V118.934Z" fill="#35CD8C"/>
                  <path d="M127.484 0H71.5156C65.0862 0 59.8555 5.23075 59.8555 11.6602V49.75C59.8555 56.1794 65.0862 61.4102 71.5156 61.4102H85.0636L96.7513 73.0979C97.5108 73.8566 98.505 74.2363 99.5 74.2363C100.495 74.2363 101.489 73.8566 102.248 73.0979L113.936 61.4102H127.484C133.914 61.4102 139.145 56.1794 139.145 49.75V11.6602C139.145 5.23075 133.914 0 127.484 0ZM131.371 49.75C131.371 51.8931 129.628 53.6367 127.484 53.6367H112.326C111.295 53.6367 110.307 54.0464 109.578 54.7751L99.5 64.8526L89.4221 54.7747C88.693 54.0464 87.7046 53.6367 86.6738 53.6367H71.5156C69.3725 53.6367 67.6289 51.8931 67.6289 49.75V11.6602C67.6289 9.51702 69.3725 7.77344 71.5156 7.77344H127.484C129.628 7.77344 131.371 9.51702 131.371 11.6602V49.75Z" fill="#35CD8C"/>
                  <path d="M83.9799 26.4686C83.2574 25.7418 82.2546 25.3298 81.2324 25.3298C80.2102 25.3298 79.2074 25.7418 78.4845 26.4686C77.7616 27.1916 77.3457 28.1943 77.3457 29.2166C77.3457 30.2388 77.7612 31.2415 78.4845 31.9645C79.2074 32.6874 80.2102 33.1033 81.2324 33.1033C82.2546 33.1033 83.2574 32.6874 83.9799 31.9645C84.7029 31.2415 85.1191 30.2388 85.1191 29.2166C85.1191 28.1943 84.7033 27.1916 83.9799 26.4686Z" fill="#35CD8C"/>
                  <path d="M102.248 26.4686C101.525 25.7461 100.522 25.3298 99.5 25.3298C98.4778 25.3298 97.475 25.7457 96.7521 26.4686C96.0292 27.1916 95.6133 28.1943 95.6133 29.2166C95.6133 30.2388 96.0288 31.2415 96.7521 31.9645C97.475 32.6874 98.4778 33.1033 99.5 33.1033C100.522 33.1033 101.525 32.6874 102.248 31.9645C102.97 31.2415 103.387 30.2388 103.387 29.2166C103.387 28.1943 102.971 27.1916 102.248 26.4686Z" fill="#35CD8C"/>
                  <path d="M120.515 26.4686C119.793 25.7418 118.79 25.3298 117.768 25.3298C116.745 25.3298 115.743 25.7418 115.02 26.4686C114.297 27.1916 113.881 28.1943 113.881 29.2166C113.881 30.2388 114.296 31.2415 115.02 31.9645C115.743 32.6874 116.745 33.1033 117.768 33.1033C118.79 33.1033 119.793 32.6874 120.515 31.9645C121.238 31.2415 121.654 30.2388 121.654 29.2166C121.654 28.1943 121.238 27.1916 120.515 26.4686Z" fill="#35CD8C"/>
                  </svg>
                  
               </span>
             </div>
             <div class="service-content">
                 <h3>reserva de mesa <br>
                avanzada</h3>
                <span >
                  <svg width="183" height="16" viewBox="0 0 183 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.292892 7.29291C-0.0976258 7.68343 -0.0976257 8.3166 0.292893 8.70712L6.65686 15.0711C7.04738 15.4616 7.68054 15.4616 8.07108 15.0711C8.46159 14.6806 8.46159 14.0474 8.07108 13.6569L2.41422 8.00002L8.07107 2.34316C8.46159 1.95264 8.46159 1.31947 8.07107 0.928947C7.68054 0.538423 7.04738 0.538423 6.65686 0.928948L0.292892 7.29291ZM183 7L1 7.00002L1 9.00002L183 9L183 7Z" fill="#35CD8C"/>
                    </svg>
                    
                </span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
             </div>
            
           </div>
           <div class="service item-2">
            
            <div class="service-content">
                <h3>Comida Gratis
                <br>
                24/7</h3>

                <span>
                  <svg width="268" height="16" viewBox="0 0 268 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M267.707 8.70708C268.098 8.31656 268.098 7.68339 267.707 7.29287L261.343 0.928909C260.953 0.538385 260.319 0.538385 259.929 0.928909C259.538 1.31943 259.538 1.9526 259.929 2.34312L265.586 7.99998L259.929 13.6568C259.538 14.0474 259.538 14.6805 259.929 15.071C260.319 15.4616 260.953 15.4616 261.343 15.071L267.707 8.70708ZM8.74228e-08 9L267 8.99998L267 6.99998L-8.74228e-08 7L8.74228e-08 9Z" fill="#35CD8C"/>
                    </svg>
                    
                </span>
               
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <div class="svg-box">
              <span>
               <svg width="199" height="153" viewBox="0 0 199 153" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M99.6163 23.1514C67.1405 23.1514 40.7197 49.5721 40.7197 82.048C40.7197 114.524 67.1409 140.945 99.6163 140.945C132.092 140.945 158.513 114.524 158.513 82.048C158.513 49.5721 132.092 23.1514 99.6163 23.1514ZM99.6163 133.171C71.4268 133.171 48.4928 110.237 48.4928 82.0476C48.4928 53.8584 71.4264 30.9244 99.6163 30.9244C127.806 30.9244 150.74 53.858 150.74 82.0476C150.74 110.237 127.806 133.171 99.6163 133.171Z" fill="#35CD8C"/>
                 <path d="M134.481 63.0495C133.452 61.1656 131.091 60.4722 129.207 61.5006C129.144 61.5352 129.086 61.5749 129.025 61.6122C127.282 62.6907 126.664 64.9536 127.658 66.7745C130.199 71.4273 131.541 76.709 131.541 82.0478C131.541 99.6511 117.22 113.972 99.6163 113.972C82.0126 113.972 67.6915 99.6507 67.6915 82.0478C67.6915 64.4444 82.0129 50.123 99.6163 50.123C101.305 50.123 103.001 50.256 104.655 50.5183C106.706 50.844 108.628 49.5008 109.058 47.4972C109.073 47.4276 109.091 47.3592 109.102 47.2877C109.438 45.1675 107.991 43.1763 105.871 42.8405C103.816 42.5148 101.711 42.3496 99.6159 42.3496C77.7267 42.3496 59.9177 60.1582 59.9177 82.0478C59.9177 103.937 77.7263 121.746 99.6159 121.746C121.506 121.746 139.314 103.937 139.314 82.0478C139.314 75.4108 137.643 68.8415 134.481 63.0495Z" fill="#35CD8C"/>
                 <path d="M124.449 49.5695C124.27 49.3907 124.072 49.2275 123.858 49.0875C123.648 48.9476 123.423 48.8271 123.186 48.73C122.953 48.6328 122.708 48.5589 122.459 48.5084C121.958 48.4074 121.441 48.4074 120.939 48.5084C120.69 48.5589 120.45 48.6328 120.212 48.73C119.979 48.8271 119.754 48.9476 119.544 49.0875C119.33 49.2275 119.132 49.3907 118.949 49.5695C118.77 49.7483 118.611 49.9465 118.467 50.1603C118.327 50.3701 118.207 50.5956 118.11 50.8327C118.048 50.9796 118 51.1319 117.957 51.2862C117.932 51.3768 117.907 51.4674 117.889 51.5595C117.838 51.8078 117.815 52.0644 117.815 52.317C117.815 52.5735 117.838 52.8266 117.889 53.0792C117.939 53.3279 118.013 53.5689 118.11 53.8056C118.207 54.0392 118.328 54.2646 118.468 54.4745C118.611 54.6883 118.771 54.8865 118.95 55.0653C119.132 55.2441 119.331 55.4073 119.544 55.5511C119.754 55.6911 119.98 55.8116 120.213 55.9087C120.45 56.0059 120.691 56.0797 120.94 56.1303C121.192 56.1808 121.449 56.2037 121.701 56.2037C121.954 56.2037 122.211 56.1804 122.459 56.1303C122.708 56.0801 122.953 56.0059 123.186 55.9087C123.39 55.8252 123.582 55.7218 123.766 55.6063C123.796 55.5873 123.829 55.571 123.858 55.5511C124.072 55.4073 124.27 55.2441 124.449 55.0653C124.628 54.8865 124.791 54.6883 124.931 54.4745C125.071 54.2646 125.191 54.0392 125.288 53.8056C125.386 53.5689 125.459 53.3241 125.51 53.0792C125.561 52.8266 125.588 52.5735 125.588 52.317C125.588 51.2948 125.172 50.292 124.449 49.5695Z" fill="#35CD8C"/>
                 <path d="M198.901 137.711L186.294 35.0449C185.417 27.8995 183.173 21.0997 179.625 14.8351C177.447 10.9892 174.801 7.41304 171.76 4.20572L171.421 3.84775C168.831 1.115 164.957 0.386629 161.55 1.99223C158.143 3.59745 156.239 7.05002 156.698 10.7875L172.677 140.931C172.729 141.349 172.799 141.759 172.888 142.163C174.215 148.212 179.618 152.533 185.779 152.532C186.314 152.532 186.855 152.5 187.399 152.433C191.691 151.906 195.254 149.363 197.255 145.871C197.465 145.503 197.658 145.126 197.833 144.738C198.008 144.351 198.165 143.954 198.302 143.549C198.922 141.728 199.15 139.744 198.901 137.711ZM164.414 9.8399C164.395 9.68405 164.344 9.26856 164.864 9.02331C165.007 8.95607 165.132 8.93003 165.241 8.93003C165.529 8.93003 165.702 9.1127 165.78 9.1951L166.119 9.55307C168.726 12.3033 170.994 15.3692 172.861 18.6659C175.904 24.0365 177.828 29.8662 178.58 35.9921L185.298 90.7093L174.506 92.0343L164.414 9.8399ZM190.849 141.308C190.14 143.102 188.498 144.466 186.452 144.717C183.475 145.085 180.759 142.959 180.393 139.983L175.453 99.7498L186.245 98.4248L191.185 138.658C191.3 139.588 191.17 140.492 190.849 141.308Z" fill="#35CD8C"/>
                 <path d="M47.9335 4.87965C45.802 4.61691 43.8637 6.1335 43.6021 8.26381L40.0672 37.0535C39.516 41.5403 35.8901 44.9253 31.4029 45.1989L28.8264 44.8825L33.4753 7.02084C33.7369 4.89053 32.2218 2.95106 30.0911 2.68909C27.96 2.42518 26.0213 3.94295 25.7598 6.07326L21.1108 43.935L18.532 43.6186C14.245 42.2668 11.5464 38.1056 12.0972 33.6192L15.6321 4.8299C15.8937 2.69958 14.3787 0.760114 12.248 0.498149C10.1177 0.233852 8.17818 1.752 7.9166 3.88231L4.38163 32.6716C3.4974 39.8749 7.17385 46.6284 13.3755 49.8676L0.152883 134.962C0.151329 134.972 0.149774 134.982 0.148219 134.991C-0.388537 138.629 0.54311 142.243 2.77137 145.168C4.99962 148.093 8.23687 149.951 11.8834 150.398L11.9541 150.407C12.5173 150.476 13.0793 150.51 13.6371 150.51C16.7111 150.51 19.6662 149.471 22.1 147.507C24.9758 145.187 26.7443 141.883 27.0797 138.204L34.8951 52.5106C41.6969 50.8685 46.8988 45.2047 47.7831 38.0011L51.318 9.21139C51.5792 7.08108 50.0642 5.14161 47.9335 4.87965ZM19.3389 137.498C19.1959 139.064 18.4434 140.47 17.2195 141.458C15.9955 142.445 14.4634 142.886 12.9044 142.692L12.8337 142.684C11.2806 142.493 9.90272 141.703 8.95475 140.458C8.00872 139.216 7.61189 137.683 7.83654 136.139L20.9507 51.7476L24.0177 52.1243C24.0193 52.1243 24.0204 52.1246 24.022 52.125C24.0232 52.125 24.0243 52.125 24.0255 52.125L27.0902 52.5013L19.3389 137.498Z" fill="#35CD8C"/>
                 </svg>
                 
               </span>
             </div>
           
          </div>
          </div>
          <div class="s-service">
            
              <span class="svg-icon">
                <svg width="322" height="243" viewBox="0 0 322 243" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M262.699 124.815L248.042 58.6007C251.997 58.0652 255.486 56.0531 257.94 53.1395C260.836 54.9501 264.254 56.0016 267.914 56.0016H280.492C283.966 56.0016 286.781 53.1862 286.781 49.7125V24.5562C286.781 21.0825 283.966 18.2672 280.492 18.2672H267.914C264.146 18.2672 260.633 19.3825 257.682 21.2962C254.803 18.0412 250.599 15.9825 245.922 15.9825H208.797C202.127 15.9825 196.418 20.1662 194.145 26.045H179.238C170.222 26.045 162.887 33.3806 162.887 42.3965C162.887 51.4125 170.222 58.7481 179.238 58.7481H211.61V71.422C211.61 74.8958 214.425 77.7111 217.899 77.7111C221.373 77.7111 224.188 74.8958 224.188 71.422V58.7481H235.194L250.98 130.077L221.102 183.294C217.837 189.086 211.681 192.685 205.031 192.685H130.444C127.322 166.5 104.995 146.127 77.9844 146.127C66.0327 146.127 54.7566 150.021 45.3746 157.386C45.3623 157.395 45.35 157.405 45.3378 157.415C34.1673 166.2 27.1461 178.808 25.51 192.685H12.5929C13.4134 147.473 50.4476 110.947 95.8492 110.947H140.462C143.983 110.947 146.85 113.814 146.85 117.337V173.818C146.85 177.292 149.665 180.107 153.139 180.107H186.603C200.255 180.107 212.836 172.683 219.434 160.737C222.488 155.209 224.107 148.949 224.112 142.638L224.144 121.744C224.149 118.271 221.336 115.45 217.862 115.445C217.86 115.445 217.857 115.445 217.855 115.445C214.386 115.445 211.57 118.256 211.566 121.725L211.534 142.624C211.531 146.82 210.455 150.981 208.426 154.654C204.038 162.594 195.676 167.527 186.603 167.527H159.428V117.335C159.428 114.114 158.617 111.078 157.195 108.417C162.845 105.152 166.658 99.0497 166.658 92.0703C166.658 81.6663 158.192 73.2031 147.791 73.2031H124.835C122.629 73.2031 120.514 73.5864 118.546 74.2841V19.1172C118.546 8.71321 110.081 0.25 99.6792 0.25H59.1074C29.6962 0.25 5.23761 21.8441 0.741913 50.0073C0.552749 50.6067 0.44957 51.243 0.44957 51.9038C0.44957 51.9431 0.454483 51.98 0.454483 52.0168C0.15477 54.4244 0 56.8737 0 59.3574V92.0728C0 101.519 6.97938 109.365 16.0518 110.729L29.9787 124.656C11.5267 142.137 0 166.856 0 194.221V198.975C0 202.448 2.81534 205.264 6.28906 205.264H41.6331C41.552 205.669 41.5078 206.092 41.5078 206.521C41.5078 215.648 44.8857 223.998 50.4476 230.4H6.28906C2.81534 230.4 0 233.218 0 236.689C0 240.163 2.81534 242.978 6.28906 242.978H77.2572C77.5004 242.986 77.7412 242.998 77.9844 242.998C98.0971 242.998 114.461 226.634 114.461 206.521C114.461 206.092 114.417 205.669 114.336 205.264H205.031C214.934 205.264 224.188 200.517 229.988 192.666H237.953C236.162 197.024 235.211 201.721 235.211 206.521C235.211 215.648 238.589 223.998 244.151 230.4H162.592C159.118 230.4 156.303 233.218 156.303 236.689C156.303 240.163 159.118 242.978 162.592 242.978H270.96C271.204 242.986 271.444 242.998 271.688 242.998C291.8 242.998 308.164 226.634 308.164 206.521C308.164 201.721 307.213 197.024 305.422 192.666H315.711C319.185 192.666 322 189.85 322 186.377C322 153.18 295.603 126.031 262.699 124.815ZM124.835 85.7837H147.791C151.257 85.7837 154.08 88.604 154.08 92.0728C154.08 95.5391 151.257 98.3618 147.791 98.3618H124.835C121.367 98.3618 118.546 95.5391 118.546 92.0728C118.546 88.604 121.367 85.7837 124.835 85.7837ZM12.5781 59.3574C12.5781 58.9692 12.5978 58.5835 12.6076 58.1954H81.4262C84.8999 58.1954 87.7152 55.38 87.7152 51.9063C87.7152 48.4326 84.8999 45.6172 81.4262 45.6172H14.6516C20.5279 26.6469 38.2331 12.8306 59.1074 12.8306H99.6767C103.146 12.8306 105.966 15.6508 105.966 19.1196V92.0728C105.966 95.5391 103.146 98.3618 99.6767 98.3618H18.8696C18.8696 98.3618 18.8672 98.3618 18.8647 98.3618C15.3984 98.3618 12.5781 95.5391 12.5781 92.0728V59.3574ZM34.0518 110.94H48.443C45.4213 112.665 42.5052 114.554 39.6997 116.588L34.0518 110.94ZM101.883 206.521C101.883 219.618 91.2921 230.282 78.2276 230.412C78.1465 230.41 78.0654 230.4 77.9844 230.4H77.2597C64.4162 230.015 54.0859 219.456 54.0859 206.521C54.0859 206.092 54.0417 205.669 53.9606 205.264H102.008C101.927 205.669 101.883 206.092 101.883 206.521ZM38.2011 192.685C39.7587 182.694 45.0061 173.668 53.1106 167.303C53.1303 167.291 53.1475 167.274 53.1671 167.261C60.3062 161.665 68.8873 158.705 77.9844 158.705C98.0504 158.705 114.734 173.457 117.763 192.685H38.2011ZM267.914 30.8453H274.203V43.4234H267.914C264.445 43.4234 261.625 40.6032 261.625 37.1344C261.625 33.668 264.445 30.8453 267.914 30.8453ZM175.465 42.3965C175.465 40.3158 177.157 38.6231 179.238 38.6231H193.094V43.0451C193.094 44.1162 193.202 45.1603 193.406 46.17H179.238C177.157 46.17 175.465 44.4773 175.465 42.3965ZM217.899 46.17H208.797C207.075 46.17 205.672 44.7697 205.672 43.0451V31.6855C205.672 29.9634 207.075 28.5606 208.797 28.5606H245.922C247.644 28.5606 249.047 29.9634 249.047 31.6855V43.0451C249.047 44.7697 247.644 46.17 245.922 46.17H217.899ZM295.586 206.521C295.586 219.618 284.995 230.282 271.931 230.412C271.85 230.41 271.769 230.4 271.688 230.4H270.963C258.119 230.015 247.789 219.456 247.789 206.521C247.789 201.525 249.347 196.695 252.216 192.666H291.159C294.028 196.695 295.586 201.525 295.586 206.521ZM237.326 180.088L261.308 137.374C285.799 137.823 305.963 156.31 309.019 180.088H237.326Z" fill="#35CD8C"/>
                  </svg>
                  </span>
                    <h3>entrega a domicilio gratuita
                    en la puerta de tu casa</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
               <span class="svg-border">
                <svg width="192" height="3" viewBox="0 0 192 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="192" height="3" fill="#35CD8C"/>
                  </svg>
                  
               </span>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Our Services -->

    <!-- Our Dishes -->

    <section class="foods" id="foods">
      <div class="container">
        <div class="section-title">
          <div class="text">
            <div class="border"></div>
            <h1>Explora Nuestros Alimentos</h1>
            </div>
            <div class="detail">
            <p>
              Traemos chefs profesionales a tu hogar para preparar deliciosas 
              comidas personalizadas a una fracción del costo.
             
            </p>
          </div>
        </div>

        <div class="main-foods">
          <div class="food">
            <div class="food-img">
              <img src="/d1.jpg" alt="">
            </div>
            <div class="food-content">
              <div class="price-name">
              <h3>Sándwich de Mano</h3>
                <span>$8,500 CLP</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. </p>
            </div>
             
            </div>
            <div class="food">
            <div class="food-img">
              <img src="/d2.jpg" alt="">
            </div>
            <div class="food-content">
              <div class="price-name">
              <h3>Sándwich de Mano</h3>
              <span>$8,500 CLP</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. </p>
            </div>
             
            </div>
            <div class="food">
            <div class="food-img">
              <img src="/d3.jpg" alt="">
            </div>
            <div class="food-content">
              <div class="price-name">
              <h3>Sándwich de Mano</h3>
              <span>$8,500 CLP</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. </p>
            </div>
             
            </div>
            <div class="food">
            <div class="food-img">
              <img src="/d4.jpg" alt="">
            </div>
            <div class="food-content">
              <div class="price-name">
              <h3>Sándwich de Mano</h3>
              <span>$8,500 CLP</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. </p>
            </div>
             
            </div>
            <div class="food">
            <div class="food-img">
              <img src="/d5.jpg" alt="">
            </div>
            <div class="food-content">
              <div class="price-name">
              <h3>Sándwich de Mano</h3>
              <span>$8,500 CLP</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. </p>
            </div>
             
            </div>
            <div class="food">
            <div class="food-img">
              <img src="/d6.jpg" alt="">
            </div>
            <div class="food-content">
              <div class="price-name">
              <h3>Sándwich de Mano</h3>
              <span>$8,500 CLP</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. </p>
            </div>
             
            </div>
          
        </div>
      </div>
    </section>

    <!-- Our dishes -->

    <!-- Download App -->
     <section class="download-app" id="app">
     <div class="container">
      <div class="section-title">
        <div class="text">
          <div class="border"></div>
            <h1>Descarga la aplicación para 
            Ofertas emocionantes
            </h1>
          </div>
          <div class="detail">
            <p>
            Traemos chefs profesionales a tu hogar para preparar deliciosas 
             comidas personalizadas a una fracción del costo.
             
            </p>
          <div class="download-icons">
            <a href="#">
              <svg width="178" height="49" viewBox="0 0 178 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 10C0 4.47715 4.47715 0 10 0H168C173.523 0 178 4.47715 178 10V39C178 44.5228 173.523 49 168 49H10C4.47715 49 0 44.5228 0 39V10Z" fill="black"/>
                <path d="M78.26 13.06C78.028 12.572 77.692 12.196 77.252 11.932C76.812 11.66 76.3 11.524 75.716 11.524C75.132 11.524 74.604 11.66 74.132 11.932C73.668 12.196 73.3 12.58 73.028 13.084C72.764 13.58 72.632 14.156 72.632 14.812C72.632 15.468 72.764 16.044 73.028 16.54C73.3 17.036 73.668 17.42 74.132 17.692C74.604 17.956 75.132 18.088 75.716 18.088C76.532 18.088 77.204 17.844 77.732 17.356C78.26 16.868 78.568 16.208 78.656 15.376H75.32V14.488H79.82V15.328C79.756 16.016 79.54 16.648 79.172 17.224C78.804 17.792 78.32 18.244 77.72 18.58C77.12 18.908 76.452 19.072 75.716 19.072C74.94 19.072 74.232 18.892 73.592 18.532C72.952 18.164 72.444 17.656 72.068 17.008C71.7 16.36 71.516 15.628 71.516 14.812C71.516 13.996 71.7 13.264 72.068 12.616C72.444 11.96 72.952 11.452 73.592 11.092C74.232 10.724 74.94 10.54 75.716 10.54C76.604 10.54 77.388 10.76 78.068 11.2C78.756 11.64 79.256 12.26 79.568 13.06H78.26ZM82.3558 11.524V14.32H85.4038V15.22H82.3558V18.1H85.7638V19H81.2638V10.624H85.7638V11.524H82.3558ZM92.5642 10.636V11.524H90.2842V19H89.1922V11.524H86.9002V10.636H92.5642ZM98.1996 10.636V19H97.1076V10.636H98.1996ZM105.209 10.636V11.524H102.929V19H101.837V11.524H99.5447V10.636H105.209ZM113.544 19.084C112.768 19.084 112.06 18.904 111.42 18.544C110.78 18.176 110.272 17.668 109.896 17.02C109.528 16.364 109.344 15.628 109.344 14.812C109.344 13.996 109.528 13.264 109.896 12.616C110.272 11.96 110.78 11.452 111.42 11.092C112.06 10.724 112.768 10.54 113.544 10.54C114.328 10.54 115.04 10.724 115.68 11.092C116.32 11.452 116.824 11.956 117.192 12.604C117.56 13.252 117.744 13.988 117.744 14.812C117.744 15.636 117.56 16.372 117.192 17.02C116.824 17.668 116.32 18.176 115.68 18.544C115.04 18.904 114.328 19.084 113.544 19.084ZM113.544 18.136C114.128 18.136 114.652 18 115.116 17.728C115.588 17.456 115.956 17.068 116.22 16.564C116.492 16.06 116.628 15.476 116.628 14.812C116.628 14.14 116.492 13.556 116.22 13.06C115.956 12.556 115.592 12.168 115.128 11.896C114.664 11.624 114.136 11.488 113.544 11.488C112.952 11.488 112.424 11.624 111.96 11.896C111.496 12.168 111.128 12.556 110.856 13.06C110.592 13.556 110.46 14.14 110.46 14.812C110.46 15.476 110.592 16.06 110.856 16.564C111.128 17.068 111.496 17.456 111.96 17.728C112.432 18 112.96 18.136 113.544 18.136ZM125.762 19H124.67L120.278 12.34V19H119.186V10.624H120.278L124.67 17.272V10.624H125.762V19Z" fill="white"/>
                <path d="M79.092 32.07C78.84 31.5847 78.49 31.2207 78.042 30.978C77.594 30.726 77.076 30.6 76.488 30.6C75.844 30.6 75.27 30.7447 74.766 31.034C74.262 31.3233 73.8653 31.734 73.576 32.266C73.296 32.798 73.156 33.414 73.156 34.114C73.156 34.814 73.296 35.4347 73.576 35.976C73.8653 36.508 74.262 36.9187 74.766 37.208C75.27 37.4973 75.844 37.642 76.488 37.642C77.356 37.642 78.0607 37.3993 78.602 36.914C79.1433 36.4287 79.4747 35.7707 79.596 34.94H75.942V33.666H81.304V34.912C81.2013 35.668 80.9307 36.3633 80.492 36.998C80.0627 37.6327 79.498 38.1413 78.798 38.524C78.1073 38.8973 77.3373 39.084 76.488 39.084C75.5733 39.084 74.738 38.874 73.982 38.454C73.226 38.0247 72.624 37.432 72.176 36.676C71.7373 35.92 71.518 35.066 71.518 34.114C71.518 33.162 71.7373 32.308 72.176 31.552C72.624 30.796 73.226 30.208 73.982 29.788C74.7473 29.3587 75.5827 29.144 76.488 29.144C77.524 29.144 78.4433 29.4007 79.246 29.914C80.058 30.418 80.646 31.1367 81.01 32.07H79.092ZM86.2241 39.126C85.4961 39.126 84.8381 38.9627 84.2501 38.636C83.6621 38.3 83.2001 37.8333 82.8641 37.236C82.5281 36.6293 82.3601 35.9293 82.3601 35.136C82.3601 34.352 82.5328 33.6567 82.8781 33.05C83.2235 32.4433 83.6948 31.9767 84.2921 31.65C84.8895 31.3233 85.5568 31.16 86.2941 31.16C87.0315 31.16 87.6988 31.3233 88.2961 31.65C88.8935 31.9767 89.3648 32.4433 89.7101 33.05C90.0555 33.6567 90.2281 34.352 90.2281 35.136C90.2281 35.92 90.0508 36.6153 89.6961 37.222C89.3415 37.8287 88.8561 38.3 88.2401 38.636C87.6335 38.9627 86.9615 39.126 86.2241 39.126ZM86.2241 37.74C86.6348 37.74 87.0175 37.642 87.3721 37.446C87.7361 37.25 88.0301 36.956 88.2541 36.564C88.4781 36.172 88.5901 35.696 88.5901 35.136C88.5901 34.576 88.4828 34.1047 88.2681 33.722C88.0535 33.33 87.7688 33.036 87.4141 32.84C87.0595 32.644 86.6768 32.546 86.2661 32.546C85.8555 32.546 85.4728 32.644 85.1181 32.84C84.7728 33.036 84.4975 33.33 84.2921 33.722C84.0868 34.1047 83.9841 34.576 83.9841 35.136C83.9841 35.9667 84.1941 36.6107 84.6141 37.068C85.0435 37.516 85.5801 37.74 86.2241 37.74ZM95.1519 39.126C94.4239 39.126 93.7659 38.9627 93.1779 38.636C92.5899 38.3 92.1279 37.8333 91.7919 37.236C91.4559 36.6293 91.2879 35.9293 91.2879 35.136C91.2879 34.352 91.4605 33.6567 91.8059 33.05C92.1512 32.4433 92.6225 31.9767 93.2199 31.65C93.8172 31.3233 94.4845 31.16 95.2219 31.16C95.9592 31.16 96.6265 31.3233 97.2239 31.65C97.8212 31.9767 98.2925 32.4433 98.6379 33.05C98.9832 33.6567 99.1559 34.352 99.1559 35.136C99.1559 35.92 98.9785 36.6153 98.6239 37.222C98.2692 37.8287 97.7839 38.3 97.1679 38.636C96.5612 38.9627 95.8892 39.126 95.1519 39.126ZM95.1519 37.74C95.5625 37.74 95.9452 37.642 96.2999 37.446C96.6639 37.25 96.9579 36.956 97.1819 36.564C97.4059 36.172 97.5179 35.696 97.5179 35.136C97.5179 34.576 97.4105 34.1047 97.1959 33.722C96.9812 33.33 96.6965 33.036 96.3419 32.84C95.9872 32.644 95.6045 32.546 95.1939 32.546C94.7832 32.546 94.4005 32.644 94.0459 32.84C93.7005 33.036 93.4252 33.33 93.2199 33.722C93.0145 34.1047 92.9119 34.576 92.9119 35.136C92.9119 35.9667 93.1219 36.6107 93.5419 37.068C93.9712 37.516 94.5079 37.74 95.1519 37.74ZM103.842 31.16C104.439 31.16 104.966 31.2813 105.424 31.524C105.89 31.7573 106.254 32.0513 106.516 32.406V31.286H108.126V39.126C108.126 39.8353 107.976 40.4653 107.678 41.016C107.379 41.576 106.945 42.0147 106.376 42.332C105.816 42.6493 105.144 42.808 104.36 42.808C103.314 42.808 102.446 42.5607 101.756 42.066C101.065 41.5807 100.673 40.918 100.58 40.078H102.162C102.283 40.4793 102.54 40.8013 102.932 41.044C103.333 41.296 103.809 41.422 104.36 41.422C105.004 41.422 105.522 41.226 105.914 40.834C106.315 40.442 106.516 39.8727 106.516 39.126V37.838C106.245 38.202 105.876 38.51 105.41 38.762C104.952 39.0047 104.43 39.126 103.842 39.126C103.17 39.126 102.554 38.958 101.994 38.622C101.443 38.2767 101.004 37.8007 100.678 37.194C100.36 36.578 100.202 35.8827 100.202 35.108C100.202 34.3333 100.36 33.6473 100.678 33.05C101.004 32.4527 101.443 31.9907 101.994 31.664C102.554 31.328 103.17 31.16 103.842 31.16ZM106.516 35.136C106.516 34.604 106.404 34.142 106.18 33.75C105.965 33.358 105.68 33.0593 105.326 32.854C104.971 32.6487 104.588 32.546 104.178 32.546C103.767 32.546 103.384 32.6487 103.03 32.854C102.675 33.05 102.386 33.344 102.162 33.736C101.947 34.1187 101.84 34.576 101.84 35.108C101.84 35.64 101.947 36.1067 102.162 36.508C102.386 36.9093 102.675 37.2173 103.03 37.432C103.394 37.6373 103.776 37.74 104.178 37.74C104.588 37.74 104.971 37.6373 105.326 37.432C105.68 37.2267 105.965 36.928 106.18 36.536C106.404 36.1347 106.516 35.668 106.516 35.136ZM111.818 28.64V39H110.222V28.64H111.818ZM120.983 34.954C120.983 35.2433 120.965 35.5047 120.927 35.738H115.033C115.08 36.354 115.309 36.8487 115.719 37.222C116.13 37.5953 116.634 37.782 117.231 37.782C118.09 37.782 118.697 37.4227 119.051 36.704H120.773C120.54 37.4133 120.115 37.9967 119.499 38.454C118.893 38.902 118.137 39.126 117.231 39.126C116.494 39.126 115.831 38.9627 115.243 38.636C114.665 38.3 114.207 37.8333 113.871 37.236C113.545 36.6293 113.381 35.9293 113.381 35.136C113.381 34.3427 113.54 33.6473 113.857 33.05C114.184 32.4433 114.637 31.9767 115.215 31.65C115.803 31.3233 116.475 31.16 117.231 31.16C117.959 31.16 118.608 31.3187 119.177 31.636C119.747 31.9533 120.19 32.4013 120.507 32.98C120.825 33.5493 120.983 34.2073 120.983 34.954ZM119.317 34.45C119.308 33.862 119.098 33.3907 118.687 33.036C118.277 32.6813 117.768 32.504 117.161 32.504C116.611 32.504 116.139 32.6813 115.747 33.036C115.355 33.3813 115.122 33.8527 115.047 34.45H119.317ZM132.995 32.168C132.995 32.6627 132.878 33.1293 132.645 33.568C132.411 34.0067 132.038 34.366 131.525 34.646C131.011 34.9167 130.353 35.052 129.551 35.052H127.787V39H126.191V29.27H129.551C130.297 29.27 130.927 29.4007 131.441 29.662C131.963 29.914 132.351 30.2593 132.603 30.698C132.864 31.1367 132.995 31.6267 132.995 32.168ZM129.551 33.75C130.157 33.75 130.61 33.6147 130.909 33.344C131.207 33.064 131.357 32.672 131.357 32.168C131.357 31.104 130.755 30.572 129.551 30.572H127.787V33.75H129.551ZM136.113 28.64V39H134.517V28.64H136.113ZM137.676 35.108C137.676 34.3333 137.835 33.6473 138.152 33.05C138.479 32.4527 138.918 31.9907 139.468 31.664C140.028 31.328 140.644 31.16 141.316 31.16C141.923 31.16 142.45 31.2813 142.898 31.524C143.356 31.7573 143.72 32.0513 143.99 32.406V31.286H145.6V39H143.99V37.852C143.72 38.216 143.351 38.5193 142.884 38.762C142.418 39.0047 141.886 39.126 141.288 39.126C140.626 39.126 140.019 38.958 139.468 38.622C138.918 38.2767 138.479 37.8007 138.152 37.194C137.835 36.578 137.676 35.8827 137.676 35.108ZM143.99 35.136C143.99 34.604 143.878 34.142 143.654 33.75C143.44 33.358 143.155 33.0593 142.8 32.854C142.446 32.6487 142.063 32.546 141.652 32.546C141.242 32.546 140.859 32.6487 140.504 32.854C140.15 33.05 139.86 33.344 139.636 33.736C139.422 34.1187 139.314 34.576 139.314 35.108C139.314 35.64 139.422 36.1067 139.636 36.508C139.86 36.9093 140.15 37.2173 140.504 37.432C140.868 37.6373 141.251 37.74 141.652 37.74C142.063 37.74 142.446 37.6373 142.8 37.432C143.155 37.2267 143.44 36.928 143.654 36.536C143.878 36.1347 143.99 35.668 143.99 35.136ZM154.64 31.286L149.908 42.626H148.256L149.824 38.874L146.786 31.286H148.564L150.734 37.166L152.988 31.286H154.64Z" fill="white"/>
                <path d="M26.5147 8.4333C25.6388 7.90603 24.5948 7.85888 23.6844 8.29783L38.9494 23.5953L43.9405 18.5809L26.5147 8.4333ZM22.2819 9.71363C22.0893 10.1214 21.9857 10.5749 21.9857 11.0418V39.0243C21.9857 39.4931 22.09 39.9401 22.2845 40.3392L37.5435 25.0078L22.2819 9.71363ZM38.9514 26.4183L23.711 41.731C24.1155 41.9183 24.5458 42 24.9754 42C25.506 42 26.0353 41.8732 26.5147 41.585L43.9439 31.422L38.9514 26.4183ZM50.5773 22.4458C50.5713 22.4418 50.5647 22.4379 50.5587 22.4345L45.7203 19.6169L40.3566 25.0058L45.7236 30.3841C45.7236 30.3841 50.5713 27.5578 50.5773 27.5545C51.4771 27.008 52.0143 26.053 52.0143 24.9998C52.0143 23.9466 51.4771 22.9917 50.5773 22.4458Z" fill="white"/>
                </svg>
                
            </a>
            <a href="#">
              <svg width="178" height="49" viewBox="0 0 178 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 10C0 4.47715 4.47715 0 10 0H168C173.523 0 178 4.47715 178 10V39C178 44.5228 173.523 49 168 49H10C4.47715 49 0 44.5228 0 39V10Z" fill="black"/>
                <path d="M67.528 10.636C68.44 10.636 69.228 10.808 69.892 11.152C70.564 11.488 71.076 11.972 71.428 12.604C71.788 13.236 71.968 13.98 71.968 14.836C71.968 15.692 71.788 16.436 71.428 17.068C71.076 17.692 70.564 18.172 69.892 18.508C69.228 18.836 68.44 19 67.528 19H64.924V10.636H67.528ZM67.528 18.1C68.608 18.1 69.432 17.816 70 17.248C70.568 16.672 70.852 15.868 70.852 14.836C70.852 13.796 70.564 12.984 69.988 12.4C69.42 11.816 68.6 11.524 67.528 11.524H66.016V18.1H67.528ZM76.2764 19.108C75.6604 19.108 75.1004 18.968 74.5964 18.688C74.1004 18.408 73.7084 18.012 73.4204 17.5C73.1404 16.98 73.0004 16.38 73.0004 15.7C73.0004 15.028 73.1444 14.436 73.4324 13.924C73.7284 13.404 74.1284 13.008 74.6324 12.736C75.1364 12.456 75.7004 12.316 76.3244 12.316C76.9484 12.316 77.5124 12.456 78.0164 12.736C78.5204 13.008 78.9164 13.4 79.2044 13.912C79.5004 14.424 79.6484 15.02 79.6484 15.7C79.6484 16.38 79.4964 16.98 79.1924 17.5C78.8964 18.012 78.4924 18.408 77.9804 18.688C77.4684 18.968 76.9004 19.108 76.2764 19.108ZM76.2764 18.148C76.6684 18.148 77.0364 18.056 77.3804 17.872C77.7244 17.688 78.0004 17.412 78.2084 17.044C78.4244 16.676 78.5324 16.228 78.5324 15.7C78.5324 15.172 78.4284 14.724 78.2204 14.356C78.0124 13.988 77.7404 13.716 77.4044 13.54C77.0684 13.356 76.7044 13.264 76.3124 13.264C75.9124 13.264 75.5444 13.356 75.2084 13.54C74.8804 13.716 74.6164 13.988 74.4164 14.356C74.2164 14.724 74.1164 15.172 74.1164 15.7C74.1164 16.236 74.2124 16.688 74.4044 17.056C74.6044 17.424 74.8684 17.7 75.1964 17.884C75.5244 18.06 75.8844 18.148 76.2764 18.148ZM89.8442 12.424L87.7922 19H86.6642L85.0802 13.78L83.4962 19H82.3682L80.3042 12.424H81.4202L82.9322 17.944L84.5642 12.424H85.6802L87.2762 17.956L88.7642 12.424H89.8442ZM94.1319 12.304C94.9319 12.304 95.5799 12.548 96.0759 13.036C96.5719 13.516 96.8199 14.212 96.8199 15.124V19H95.7399V15.28C95.7399 14.624 95.5759 14.124 95.2479 13.78C94.9199 13.428 94.4719 13.252 93.9039 13.252C93.3279 13.252 92.8679 13.432 92.5239 13.792C92.1879 14.152 92.0199 14.676 92.0199 15.364V19H90.9279V12.424H92.0199V13.36C92.2359 13.024 92.5279 12.764 92.8959 12.58C93.2719 12.396 93.6839 12.304 94.1319 12.304ZM99.6957 10.12V19H98.6037V10.12H99.6957ZM104.425 19.108C103.809 19.108 103.249 18.968 102.745 18.688C102.249 18.408 101.857 18.012 101.569 17.5C101.289 16.98 101.149 16.38 101.149 15.7C101.149 15.028 101.293 14.436 101.581 13.924C101.877 13.404 102.277 13.008 102.781 12.736C103.285 12.456 103.849 12.316 104.473 12.316C105.097 12.316 105.661 12.456 106.165 12.736C106.669 13.008 107.065 13.4 107.353 13.912C107.649 14.424 107.797 15.02 107.797 15.7C107.797 16.38 107.645 16.98 107.341 17.5C107.045 18.012 106.641 18.408 106.129 18.688C105.617 18.968 105.049 19.108 104.425 19.108ZM104.425 18.148C104.817 18.148 105.185 18.056 105.529 17.872C105.873 17.688 106.149 17.412 106.357 17.044C106.573 16.676 106.681 16.228 106.681 15.7C106.681 15.172 106.577 14.724 106.369 14.356C106.161 13.988 105.889 13.716 105.553 13.54C105.217 13.356 104.853 13.264 104.461 13.264C104.061 13.264 103.693 13.356 103.357 13.54C103.029 13.716 102.765 13.988 102.565 14.356C102.365 14.724 102.265 15.172 102.265 15.7C102.265 16.236 102.361 16.688 102.553 17.056C102.753 17.424 103.017 17.7 103.345 17.884C103.673 18.06 104.033 18.148 104.425 18.148ZM108.825 15.688C108.825 15.016 108.961 14.428 109.233 13.924C109.505 13.412 109.877 13.016 110.349 12.736C110.829 12.456 111.361 12.316 111.945 12.316C112.521 12.316 113.021 12.44 113.445 12.688C113.869 12.936 114.185 13.248 114.393 13.624V12.424H115.497V19H114.393V17.776C114.177 18.16 113.853 18.48 113.421 18.736C112.997 18.984 112.501 19.108 111.933 19.108C111.349 19.108 110.821 18.964 110.349 18.676C109.877 18.388 109.505 17.984 109.233 17.464C108.961 16.944 108.825 16.352 108.825 15.688ZM114.393 15.7C114.393 15.204 114.293 14.772 114.093 14.404C113.893 14.036 113.621 13.756 113.277 13.564C112.941 13.364 112.569 13.264 112.161 13.264C111.753 13.264 111.381 13.36 111.045 13.552C110.709 13.744 110.441 14.024 110.241 14.392C110.041 14.76 109.941 15.192 109.941 15.688C109.941 16.192 110.041 16.632 110.241 17.008C110.441 17.376 110.709 17.66 111.045 17.86C111.381 18.052 111.753 18.148 112.161 18.148C112.569 18.148 112.941 18.052 113.277 17.86C113.621 17.66 113.893 17.376 114.093 17.008C114.293 16.632 114.393 16.196 114.393 15.7ZM116.934 15.688C116.934 15.016 117.07 14.428 117.342 13.924C117.614 13.412 117.986 13.016 118.458 12.736C118.938 12.456 119.474 12.316 120.066 12.316C120.578 12.316 121.054 12.436 121.494 12.676C121.934 12.908 122.27 13.216 122.502 13.6V10.12H123.606V19H122.502V17.764C122.286 18.156 121.966 18.48 121.542 18.736C121.118 18.984 120.622 19.108 120.054 19.108C119.47 19.108 118.938 18.964 118.458 18.676C117.986 18.388 117.614 17.984 117.342 17.464C117.07 16.944 116.934 16.352 116.934 15.688ZM122.502 15.7C122.502 15.204 122.402 14.772 122.202 14.404C122.002 14.036 121.73 13.756 121.386 13.564C121.05 13.364 120.678 13.264 120.27 13.264C119.862 13.264 119.49 13.36 119.154 13.552C118.818 13.744 118.55 14.024 118.35 14.392C118.15 14.76 118.05 15.192 118.05 15.688C118.05 16.192 118.15 16.632 118.35 17.008C118.55 17.376 118.818 17.66 119.154 17.86C119.49 18.052 119.862 18.148 120.27 18.148C120.678 18.148 121.05 18.052 121.386 17.86C121.73 17.66 122.002 17.376 122.202 17.008C122.402 16.632 122.502 16.196 122.502 15.7ZM132.443 19.084C131.667 19.084 130.959 18.904 130.319 18.544C129.679 18.176 129.171 17.668 128.795 17.02C128.427 16.364 128.243 15.628 128.243 14.812C128.243 13.996 128.427 13.264 128.795 12.616C129.171 11.96 129.679 11.452 130.319 11.092C130.959 10.724 131.667 10.54 132.443 10.54C133.227 10.54 133.939 10.724 134.579 11.092C135.219 11.452 135.723 11.956 136.091 12.604C136.459 13.252 136.643 13.988 136.643 14.812C136.643 15.636 136.459 16.372 136.091 17.02C135.723 17.668 135.219 18.176 134.579 18.544C133.939 18.904 133.227 19.084 132.443 19.084ZM132.443 18.136C133.027 18.136 133.551 18 134.015 17.728C134.487 17.456 134.855 17.068 135.119 16.564C135.391 16.06 135.527 15.476 135.527 14.812C135.527 14.14 135.391 13.556 135.119 13.06C134.855 12.556 134.491 12.168 134.027 11.896C133.563 11.624 133.035 11.488 132.443 11.488C131.851 11.488 131.323 11.624 130.859 11.896C130.395 12.168 130.027 12.556 129.755 13.06C129.491 13.556 129.359 14.14 129.359 14.812C129.359 15.476 129.491 16.06 129.755 16.564C130.027 17.068 130.395 17.456 130.859 17.728C131.331 18 131.859 18.136 132.443 18.136ZM141.288 12.304C142.088 12.304 142.736 12.548 143.232 13.036C143.728 13.516 143.976 14.212 143.976 15.124V19H142.896V15.28C142.896 14.624 142.732 14.124 142.404 13.78C142.076 13.428 141.628 13.252 141.06 13.252C140.484 13.252 140.024 13.432 139.68 13.792C139.344 14.152 139.176 14.676 139.176 15.364V19H138.084V12.424H139.176V13.36C139.392 13.024 139.684 12.764 140.052 12.58C140.428 12.396 140.84 12.304 141.288 12.304ZM154.107 10.636V11.524H151.827V19H150.735V11.524H148.443V10.636H154.107ZM158.715 12.304C159.211 12.304 159.659 12.412 160.059 12.628C160.459 12.836 160.771 13.152 160.995 13.576C161.227 14 161.343 14.516 161.343 15.124V19H160.263V15.28C160.263 14.624 160.099 14.124 159.771 13.78C159.443 13.428 158.995 13.252 158.427 13.252C157.851 13.252 157.391 13.432 157.047 13.792C156.711 14.152 156.543 14.676 156.543 15.364V19H155.451V10.12H156.543V13.36C156.759 13.024 157.055 12.764 157.431 12.58C157.815 12.396 158.243 12.304 158.715 12.304ZM169.127 15.46C169.127 15.668 169.115 15.888 169.091 16.12H163.835C163.875 16.768 164.095 17.276 164.495 17.644C164.903 18.004 165.395 18.184 165.971 18.184C166.443 18.184 166.835 18.076 167.147 17.86C167.467 17.636 167.691 17.34 167.819 16.972H168.995C168.819 17.604 168.467 18.12 167.939 18.52C167.411 18.912 166.755 19.108 165.971 19.108C165.347 19.108 164.787 18.968 164.291 18.688C163.803 18.408 163.419 18.012 163.139 17.5C162.859 16.98 162.719 16.38 162.719 15.7C162.719 15.02 162.855 14.424 163.127 13.912C163.399 13.4 163.779 13.008 164.267 12.736C164.763 12.456 165.331 12.316 165.971 12.316C166.595 12.316 167.147 12.452 167.627 12.724C168.107 12.996 168.475 13.372 168.731 13.852C168.995 14.324 169.127 14.86 169.127 15.46ZM167.999 15.232C167.999 14.816 167.907 14.46 167.723 14.164C167.539 13.86 167.287 13.632 166.967 13.48C166.655 13.32 166.307 13.24 165.923 13.24C165.371 13.24 164.899 13.416 164.507 13.768C164.123 14.12 163.903 14.608 163.847 15.232H167.999Z" fill="white"/>
                <path d="M68.916 36.012H64.842L64.142 38H62.476L65.962 28.256H67.81L71.296 38H69.616L68.916 36.012ZM68.468 34.71L66.886 30.188L65.29 34.71H68.468ZM74.4077 31.42C74.6784 31.0653 75.0471 30.7667 75.5137 30.524C75.9804 30.2813 76.5077 30.16 77.0957 30.16C77.7677 30.16 78.3791 30.328 78.9297 30.664C79.4897 30.9907 79.9284 31.4527 80.2457 32.05C80.5631 32.6473 80.7217 33.3333 80.7217 34.108C80.7217 34.8827 80.5631 35.578 80.2457 36.194C79.9284 36.8007 79.4897 37.2767 78.9297 37.622C78.3791 37.958 77.7677 38.126 77.0957 38.126C76.5077 38.126 75.9851 38.0093 75.5277 37.776C75.0704 37.5333 74.6971 37.2347 74.4077 36.88V41.668H72.8117V30.286H74.4077V31.42ZM79.0977 34.108C79.0977 33.576 78.9857 33.1187 78.7617 32.736C78.5471 32.344 78.2577 32.05 77.8937 31.854C77.5391 31.6487 77.1564 31.546 76.7457 31.546C76.3444 31.546 75.9617 31.6487 75.5977 31.854C75.2431 32.0593 74.9537 32.358 74.7297 32.75C74.5151 33.142 74.4077 33.604 74.4077 34.136C74.4077 34.668 74.5151 35.1347 74.7297 35.536C74.9537 35.928 75.2431 36.2267 75.5977 36.432C75.9617 36.6373 76.3444 36.74 76.7457 36.74C77.1564 36.74 77.5391 36.6373 77.8937 36.432C78.2577 36.2173 78.5471 35.9093 78.7617 35.508C78.9857 35.1067 79.0977 34.64 79.0977 34.108ZM83.896 31.42C84.1667 31.0653 84.5353 30.7667 85.002 30.524C85.4687 30.2813 85.996 30.16 86.584 30.16C87.256 30.16 87.8673 30.328 88.418 30.664C88.978 30.9907 89.4167 31.4527 89.734 32.05C90.0513 32.6473 90.21 33.3333 90.21 34.108C90.21 34.8827 90.0513 35.578 89.734 36.194C89.4167 36.8007 88.978 37.2767 88.418 37.622C87.8673 37.958 87.256 38.126 86.584 38.126C85.996 38.126 85.4733 38.0093 85.016 37.776C84.5587 37.5333 84.1853 37.2347 83.896 36.88V41.668H82.3V30.286H83.896V31.42ZM88.586 34.108C88.586 33.576 88.474 33.1187 88.25 32.736C88.0353 32.344 87.746 32.05 87.382 31.854C87.0273 31.6487 86.6447 31.546 86.234 31.546C85.8327 31.546 85.45 31.6487 85.086 31.854C84.7313 32.0593 84.442 32.358 84.218 32.75C84.0033 33.142 83.896 33.604 83.896 34.136C83.896 34.668 84.0033 35.1347 84.218 35.536C84.442 35.928 84.7313 36.2267 85.086 36.432C85.45 36.6373 85.8327 36.74 86.234 36.74C86.6447 36.74 87.0273 36.6373 87.382 36.432C87.746 36.2173 88.0353 35.9093 88.25 35.508C88.474 35.1067 88.586 34.64 88.586 34.108ZM98.631 38.098C97.9777 38.098 97.3897 37.986 96.867 37.762C96.3443 37.5287 95.9337 37.202 95.635 36.782C95.3363 36.362 95.187 35.872 95.187 35.312H96.895C96.9323 35.732 97.0957 36.0773 97.385 36.348C97.6837 36.6187 98.099 36.754 98.631 36.754C99.1817 36.754 99.611 36.6233 99.919 36.362C100.227 36.0913 100.381 35.746 100.381 35.326C100.381 34.9993 100.283 34.7333 100.087 34.528C99.9003 34.3227 99.6623 34.164 99.373 34.052C99.093 33.94 98.701 33.8187 98.197 33.688C97.5623 33.52 97.0443 33.352 96.643 33.184C96.251 33.0067 95.915 32.736 95.635 32.372C95.355 32.008 95.215 31.5227 95.215 30.916C95.215 30.356 95.355 29.866 95.635 29.446C95.915 29.026 96.307 28.704 96.811 28.48C97.315 28.256 97.8983 28.144 98.561 28.144C99.5037 28.144 100.274 28.382 100.871 28.858C101.478 29.3247 101.814 29.9687 101.879 30.79H100.115C100.087 30.4353 99.919 30.132 99.611 29.88C99.303 29.628 98.897 29.502 98.393 29.502C97.9357 29.502 97.5623 29.6187 97.273 29.852C96.9837 30.0853 96.839 30.4213 96.839 30.86C96.839 31.1587 96.9277 31.406 97.105 31.602C97.2917 31.7887 97.525 31.938 97.805 32.05C98.085 32.162 98.4677 32.2833 98.953 32.414C99.597 32.5913 100.12 32.7687 100.521 32.946C100.932 33.1233 101.277 33.3987 101.557 33.772C101.846 34.136 101.991 34.626 101.991 35.242C101.991 35.7367 101.856 36.2033 101.585 36.642C101.324 37.0807 100.936 37.4353 100.423 37.706C99.919 37.9673 99.3217 38.098 98.631 38.098ZM105.736 31.588V35.858C105.736 36.1473 105.802 36.3573 105.932 36.488C106.072 36.6093 106.306 36.67 106.632 36.67H107.612V38H106.352C105.634 38 105.083 37.832 104.7 37.496C104.318 37.16 104.126 36.614 104.126 35.858V31.588H103.216V30.286H104.126V28.368H105.736V30.286H107.612V31.588H105.736ZM112.429 38.126C111.701 38.126 111.043 37.9627 110.455 37.636C109.867 37.3 109.405 36.8333 109.069 36.236C108.733 35.6293 108.565 34.9293 108.565 34.136C108.565 33.352 108.738 32.6567 109.083 32.05C109.429 31.4433 109.9 30.9767 110.497 30.65C111.095 30.3233 111.762 30.16 112.499 30.16C113.237 30.16 113.904 30.3233 114.501 30.65C115.099 30.9767 115.57 31.4433 115.915 32.05C116.261 32.6567 116.433 33.352 116.433 34.136C116.433 34.92 116.256 35.6153 115.901 36.222C115.547 36.8287 115.061 37.3 114.445 37.636C113.839 37.9627 113.167 38.126 112.429 38.126ZM112.429 36.74C112.84 36.74 113.223 36.642 113.577 36.446C113.941 36.25 114.235 35.956 114.459 35.564C114.683 35.172 114.795 34.696 114.795 34.136C114.795 33.576 114.688 33.1047 114.473 32.722C114.259 32.33 113.974 32.036 113.619 31.84C113.265 31.644 112.882 31.546 112.471 31.546C112.061 31.546 111.678 31.644 111.323 31.84C110.978 32.036 110.703 32.33 110.497 32.722C110.292 33.1047 110.189 33.576 110.189 34.136C110.189 34.9667 110.399 35.6107 110.819 36.068C111.249 36.516 111.785 36.74 112.429 36.74ZM119.607 31.406C119.84 31.014 120.148 30.7107 120.531 30.496C120.923 30.272 121.385 30.16 121.917 30.16V31.812H121.511C120.886 31.812 120.41 31.9707 120.083 32.288C119.766 32.6053 119.607 33.156 119.607 33.94V38H118.011V30.286H119.607V31.406ZM130.454 33.954C130.454 34.2433 130.435 34.5047 130.398 34.738H124.504C124.551 35.354 124.779 35.8487 125.19 36.222C125.601 36.5953 126.105 36.782 126.702 36.782C127.561 36.782 128.167 36.4227 128.522 35.704H130.244C130.011 36.4133 129.586 36.9967 128.97 37.454C128.363 37.902 127.607 38.126 126.702 38.126C125.965 38.126 125.302 37.9627 124.714 37.636C124.135 37.3 123.678 36.8333 123.342 36.236C123.015 35.6293 122.852 34.9293 122.852 34.136C122.852 33.3427 123.011 32.6473 123.328 32.05C123.655 31.4433 124.107 30.9767 124.686 30.65C125.274 30.3233 125.946 30.16 126.702 30.16C127.43 30.16 128.079 30.3187 128.648 30.636C129.217 30.9533 129.661 31.4013 129.978 31.98C130.295 32.5493 130.454 33.2073 130.454 33.954ZM128.788 33.45C128.779 32.862 128.569 32.3907 128.158 32.036C127.747 31.6813 127.239 31.504 126.632 31.504C126.081 31.504 125.61 31.6813 125.218 32.036C124.826 32.3813 124.593 32.8527 124.518 33.45H128.788Z" fill="white"/>
                <path d="M29.3021 41.9999C24.2419 41.9707 20.0562 31.6411 20.0562 26.3804C20.0562 17.7872 26.5025 15.9059 28.9869 15.9059C30.1065 15.9059 31.3021 16.3456 32.3565 16.7347C33.0939 17.0061 33.8565 17.2862 34.2806 17.2862C34.5345 17.2862 35.1328 17.0479 35.661 16.8388C36.7874 16.3904 38.1891 15.833 39.8214 15.833C39.8243 15.833 39.8282 15.833 39.8311 15.833C41.0499 15.833 44.7454 16.1005 46.9672 19.437L47.4876 20.2191L46.7386 20.7843C45.6686 21.5916 43.7162 23.0644 43.7162 25.9817C43.7162 29.4369 45.9273 30.7656 46.9895 31.4047C47.4584 31.6868 47.9438 31.9777 47.9438 32.6139C47.9438 33.0292 44.6287 41.9483 39.8145 41.9483C38.6366 41.9483 37.8039 41.5942 37.0694 41.282C36.3263 40.9658 35.6852 40.6935 34.6259 40.6935C34.0889 40.6935 33.4099 40.9474 32.6911 41.2169C31.7087 41.5835 30.5968 41.9999 29.3352 41.9999H29.3021Z" fill="white"/>
                <path d="M40.3314 8C40.4568 12.5207 37.2238 15.6569 33.9946 15.4602C33.4624 11.8526 37.2234 8 40.3314 8Z" fill="white"/>
                </svg>
                
            </a>
          </div>
          
        </div>
       
      </div>
      
     </div>
     </section>
    <!-- Download App -->


    <!-- Footer App -->
    <footer>
      <div class="container">
        <div class="footer-content">
            <h3>Recibe notificaciones
            sobre nuevos productos increíbles</h3>
            <p> Traemos chefs profesionales a tu hogar para preparar deliciosas 
              comidas personalizadas a una fracción del costo.
              . </p>
            <form action="">
              <input type="text" placeholder="E-mail" />
              <button type="submit">
                <span> 
                  <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.6732 8.21101L16.5312 1.069C16.0954 0.63325 15.3887 0.63325 14.953 1.069C14.5171 1.50484 14.5171 2.21137 14.953 2.64721L20.1899 7.88417H1.11594C0.499673 7.88417 0 8.38384 0 9.00011C0 9.61629 0.499673 10.116 1.11594 10.116H20.1899L14.9531 15.353C14.5173 15.7889 14.5173 16.4954 14.9531 16.9312C15.171 17.149 15.4566 17.2581 15.7422 17.2581C16.0278 17.2581 16.3134 17.149 16.5313 16.9312L23.6732 9.78921C24.109 9.35337 24.109 8.64685 23.6732 8.21101Z" fill="white"/>
                    </svg>
                    
                    
                </span>
              </button>
            </form>

            <ul>
              <li><a href="#">
                <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.0055 0.00400128L7.51173 0C4.71006 0 2.8995 1.8576 2.8995 4.73272V6.91482H0.392122C0.175455 6.91482 0 7.09047 0 7.30714V10.4688C0 10.6854 0.175655 10.8609 0.392122 10.8609H2.8995V18.8386C2.8995 19.0553 3.07495 19.2308 3.29162 19.2308H6.56304C6.77971 19.2308 6.95516 19.0551 6.95516 18.8386V10.8609H9.88687C10.1035 10.8609 10.279 10.6854 10.279 10.4688L10.2802 7.30714C10.2802 7.20311 10.2388 7.10348 10.1654 7.02986C10.0919 6.95623 9.9919 6.91482 9.88787 6.91482H6.95516V5.06502C6.95516 4.17594 7.16703 3.7246 8.32519 3.7246L10.0051 3.72399C10.2216 3.72399 10.397 3.54834 10.397 3.33187V0.396127C10.397 0.179858 10.2218 0.00440141 10.0055 0.00400128Z" fill="#707070"/>
                  </svg>
                  
              </a></li>
              <li><a href="#">
                <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.75911 19.9998C8.74303 19.9998 7.69719 19.9175 6.64507 19.7526C4.792 19.4618 2.91615 18.4925 2.38535 18.2023L0.993164 17.4411L2.50044 16.9455C4.14807 16.4037 5.15035 16.0676 6.39105 15.5413C5.14874 14.9397 4.19128 13.8574 3.73038 12.4584L3.37974 11.394L3.66728 11.4379C3.39462 11.1631 3.17932 10.8841 3.01242 10.6305C2.41887 9.72893 2.10462 8.62734 2.17148 7.68332L2.23745 6.75418L2.79372 6.96966C2.55906 6.52651 2.38947 6.05325 2.2898 5.55722C2.04689 4.34753 2.25018 3.06237 2.86237 1.93855L3.34693 1.04903L3.99498 1.8274C6.04453 4.28945 8.64049 5.74993 11.7215 6.17748C11.5957 5.31001 11.69 4.47284 12.0021 3.72243C12.3655 2.84869 13.0119 2.10778 13.8709 1.57966C14.825 0.993279 15.982 0.709141 17.1287 0.779593C18.3454 0.854347 19.4501 1.31022 20.3274 2.09881C20.7558 1.98749 21.0715 1.86864 21.4982 1.70801C21.7549 1.61139 22.046 1.50168 22.4103 1.37619L23.7526 0.913684L22.8773 3.41373C22.935 3.40889 22.9945 3.40477 23.0567 3.40208L24.4901 3.33719L23.6429 4.49507C23.5943 4.5614 23.582 4.58022 23.5648 4.60621C23.4965 4.70911 23.4115 4.83711 22.2486 6.38991C21.9575 6.77874 21.8121 7.28517 21.8391 7.81616C21.9422 9.83398 21.6947 11.6596 21.1029 13.2422C20.5432 14.7394 19.6759 16.024 18.5254 17.0604C17.1017 18.3425 15.2862 19.2204 13.1293 19.6692C12.0713 19.8894 10.9351 19.9998 9.75911 19.9998Z" fill="#707070"/>
                  </svg>
                  
                  
              </a></li>
              <li><a href="#">
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.40263 6.94824H1.53351C1.3618 6.94824 1.22266 7.08744 1.22266 7.2591V19.6889C1.22266 19.8606 1.3618 19.9998 1.53351 19.9998H5.40263C5.57435 19.9998 5.71349 19.8606 5.71349 19.6889V7.2591C5.71349 7.08744 5.57435 6.94824 5.40263 6.94824Z" fill="#707070"/>
                  <path d="M3.4694 0.769043C2.06158 0.769043 0.91626 1.91312 0.91626 3.31938C0.91626 4.72626 2.06158 5.87078 3.4694 5.87078C4.87609 5.87078 6.02048 4.7262 6.02048 3.31938C6.02054 1.91312 4.87609 0.769043 3.4694 0.769043Z" fill="#707070"/>
                  <path d="M15.2439 6.63965C13.6899 6.63965 12.5412 7.30768 11.8444 8.06673V7.25944C11.8444 7.08778 11.7053 6.94858 11.5336 6.94858H7.82819C7.65647 6.94858 7.51733 7.08778 7.51733 7.25944V19.6893C7.51733 19.861 7.65647 20.0001 7.82819 20.0001H11.6889C11.8606 20.0001 11.9997 19.861 11.9997 19.6893V13.5394C11.9997 11.467 12.5626 10.6597 14.0072 10.6597C15.5805 10.6597 15.7056 11.9539 15.7056 13.646V19.6893C15.7056 19.861 15.8447 20.0002 16.0164 20.0002H19.8785C20.0502 20.0002 20.1894 19.861 20.1894 19.6893V12.8713C20.1894 9.78982 19.6018 6.63965 15.2439 6.63965Z" fill="#707070"/>
                  </svg>
                  
              </a></li>
             
            </ul>
            <!-- <p class="bottom">Desarrollado por <span> &nbsp;  </span></p> -->
        </div>
      </div>
    </footer>

    <!-- Footer App -->

    <a href="#" class="btn btn-top">
      <i class="fas fa-angle-up"></i>
    </a>

     <!-- Style Switching -->
     <div class="style-switcher">
      <div class="toggle-style-switcher">
        <i class="fa fa-cog fa-spin"></i>
      </div>
      <h5>Style Switcher</h5>
      <ul>
        <li>
          <a
            href="javascript:void(0)"
            title="pink"
            style="background-color: #fe043c"
            onclick="setActiveStyle('red')"
          ></a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            title="pink"
            style="background-color: #35CD8C"
            onclick="setActiveStyle('green')"
          ></a>
        </li>

      </ul>
    </div>

<script is:inline>
const links = document.querySelectorAll(".alternate-style");
      const togglerr = document.querySelector(".toggle-style-switcher");
      const totalLinks = links.length;

      function setActiveStyle(color) {
        links.forEach((link) => {
          if (color == link.getAttribute("title")) {
            link.removeAttribute("disabled");
          } else {
            link.setAttribute("disabled", "true");
          }
        });
      }

      togglerr.addEventListener("click", () => {
        document.querySelector(".style-switcher").classList.toggle("open");
      });
</script>


